:root {
  --background-color: #ecf8fd;
  --box-color: #164b60;
  --border-1-light: #dafffb;
  --border-2-dark: #1b6b93;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  /* background-image: linear-gradient(
    0deg,
    rgb(80, 20, 96) -1%,
    hsl(285deg 100% 19%) -6%,
    hsl(0deg 0% 0%) 100%
  ); */
  /* transition: background-image 0.5s ease;
  background-repeat: no-repeat; */
}
#homePage {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  background-color: #022132;
  height: 100vh;
}
#greeting {
  margin: 30px;
  margin-bottom: 15px;
}
h1 {
  color: rgb(218, 255, 251);
}
#subHeading {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  color: #64ccc5;
  padding-top: 8px;
  font-size: 17px;
}
#subHeading img {
  height: 47px;
  width: 50px;
  margin-right: 11px;
}
#subHeading h2 {
  margin-bottom: 8px;
  background: linear-gradient(to right, #10b9e3, #10e3ab);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: transparent;
}
::-webkit-scrollbar-track {
  background: transparent;
}
#todaySlider {
  width: 100%;
}
#slides {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
#slides::-webkit-scrollbar {
  display: none;
}
.slide {
  margin: 0 10px;
  background-color: #ffffff20;
  backdrop-filter: blur(48px);
  -webkit-backdrop-filter: blur(48px);
  scroll-snap-align: center;
  border-radius: 15px;
  margin-bottom: 11px;
  min-width: 360px;
  height: 220px;
  display: flex;
  flex-direction: column;
  height: 250px;
}
.arrow {
  cursor: pointer;
  width: 200px;
  height: 280px;
  border-radius: 15px;
  background-color: #00000054;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
  color: antiquewhite;
  font-size: 32px;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
}
#arrowSlides {
  display: flex;
}
@media screen and (max-width: 768px) {
  .arrow {
    display: none;
  }
}
#movementDiv {
  display: flex;
  justify-content: center;
}
.moveButton {
  margin: 7px;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  border: none;
  background-color: white;
}
.heading {
  padding: 14px;
  color: #dafffb;
  overflow: hidden;
}
#circleChart {
  height: 130px;
}
#caloriesChart {
  height: 130px;
  width: 130px;
}
#graphDiv {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 55vh;
}
#stats {
  display: flex;
  flex-direction: column;
  margin-bottom: 120px;
}
.div {
  display: flex;
  width: 100%;
}
#macros {
  display: flex;
  width: 100%;
}
.box {
  margin: 7px;
  width: 50%;
  background-color: #9185855f;
  backdrop-filter: blur(58px);
  -webkit-backdrop-filter: blur(58px);
  border-radius: 15px !important;
  border: 2px solid transparent;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  height: 50px;
  overflow-y: hidden;
  border: 2px rgb(255, 128, 247) solid;
}
.text {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
}
.heading h4 {
  font-size: 0.8rem;
  color: rgb(185, 189, 189);
  padding-top: 3px;
}
.statsIcon {
  height: 30px;
  width: 30px;
  border: 1px rgb(218, 255, 251) solid;
  padding: 5px;
  border-radius: 10px;
  margin-right: 15px;
}
h3 {
  color: rgb(218, 255, 251);
}
#graph {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  height: 80%;
}
#text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}
#goal {
  min-width: 180px;
}
.textBox {
  display: flex;
}
.iconText {
  padding-left: 10px;
  color: rgb(255, 255, 255);
  font-weight: 600;
  letter-spacing: 0.7px;
}
.iconText h5 {
  color: rgb(218, 218, 218);
  font-weight: 500;
}
.slideIcon {
  min-width: 30px;
}
#caloriesChart {
  width: 90%; /* Set the width to 100% */
  height: 90%; /* Set the height to 100% */
}
.macrosGraph {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.macrosGraphCircle {
  width: 30%;
  padding-top: 10px;
}
.circleChartDiv {
  padding-top: 10px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.macrosGraphText {
  top: 59%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  position: absolute;
  color: #dafffb;
}
.macrosLeft {
  text-align: center;
  padding-top: 10px;
  color: rgb(184, 181, 181);
}
.headingCircleChart h3 {
  font-size: 16px;
  text-align: center;
}
#circleGraphChartDiv {
  position: relative;
}
#circleGraphText {
  top: 59%;
  left: 47%;
  transform: translate(-70%, -70%);
  text-align: center;
  position: absolute;
  color: #dafffb;
}
#circleGraphText h1 {
  font-size: 32px;
}
#circleGraphText h2 {
  font-size: 14px;
}

#Carbohydrates {
  color: #59d0c6;
}
#fat {
  color: rgb(176, 115, 199);
}
#protein {
  color: rgb(245, 188, 93);
}

.barGraphDivText {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: #dafffb;
  margin: 0px 20px;
}

#healthyHeartSlide {
  justify-content: space-between;
}

.healthyHeartBar {
  margin: 6px 20px 20px 20px;
  border-radius: 15px;
  min-height: 10px;
  border: black 2px solid;
}

#lowCarbSlide {
  justify-content: space-between;
}

/* margin: "6px 20px 20px 20px";
 borderradius: "15px";
     height: "10px"; */
